.photo-grid__list {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(3, 213px);
  grid-auto-rows: 213px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); 
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-template-rows: repeat(3, 225px);
    grid-auto-rows: 225px;
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(3, 264px);
    grid-auto-rows: 264px;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(3, 216px);
    grid-auto-rows: 216px;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 620px) {
  .photo-grid__list {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

