.cover__background {
  width: 100%;
  max-width: 1184px;
  /* min-height: 740px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 245px;
  padding-bottom: 245px;
  /* padding-top: calc(((100vw / 1.6) - 250px) / 2);
  padding-bottom: calc(((100vw / 1.6) - 250px) / 2); */
}

.cover__background::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.4s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    /* max-width: 1024px; */
    padding-top: calc(((100vw / 1.6) - 250px) / 2);
    padding-bottom: calc(((100vw / 1.6) - 250px) / 2);
  }
} 

@media screen and (max-width: 767px) {
  .cover__background {
    /* max-width: 1024px; */
    padding-top: calc(((100vw / 1.6) - 134px) / 2);
    padding-bottom: calc(((100vw / 1.6) - 134px) / 2);
  }
} 

/* @media screen and (max-width: 1279px) {
  .cover__background {
    max-width: 1024px;
    padding-top: 195px;
    padding-bottom: 195px;
  }
} */

/* @media screen and (max-width: 1023px) {
  .cover__background {
    max-width: 768px;
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    max-width: 500px;
    padding-top: 89px;
    padding-bottom: 89px;
  }
}

@media screen and (max-width: 500px) {
  .cover__background {
    max-width: 320px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
} */